<DOCTYPE! html>
    <html>
        <head>
            <title>Adding a new tracer</title>
        </head>

        <body>
            <form action="/add_tracer/{{client_name}}" method="POST">
                <div>
                    <label>Tracer Name:</label>
                    <input type="text" name="tracer_name" required />
                </div>

                <div>
                    <label>Tracer Description:</label>
                    <input type="text" name="tracer_desc" required />
                </div>

                <div>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </body></html
></DOCTYPE!>
