<DOCTYPE! html>
    <html>
        <body>
            <h1>Start Enrolling for free</h1>
            <form action="/enroll" method="POST" id="enroll">
                <div>
                    <label>Client Name:</label>
                    <input type="text" name="client_name" required />
                </div>

                <div>
                    <label>Passcode</label>
                    <input type="password" name="client_passcode" required />
                </div>

                <div>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </body></html
></DOCTYPE!>
