<!DOCTYPE html>
<html>

<head>
  <title>Feed</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
</head>

<body>
  <h1>Feed</h1>
  <p>Welcome to the feed! Here are the latest blog posts:</p>
  <div id="app">
    <search-bar @search="searchUsers"></search-bar>
    {% for post in posts %}
    <p v-if="4>5">Testing Vue</p>
    <div>
      <h3>{{ post.title }}</h3>
      {% if post.image_url %}
      <img src="{{ post.image_url }}" class="card-img-top" alt="{{ post.title }}" width="300" height="auto">
      {% endif %}
      <p>By {{ post.user.username }} on {{ post.updated_at }}</p>
      <p>{{ post.body }}</p>
    </div>
    {% endfor %}
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('create_blog') }}">Create Blog</a>
    <a href="{{ url_for('user_profile', username=current_user.username) }}">My Page</a>
    {% else %}
  </div>
  <a href="{{ url_for('login') }}">Log in to Create Blog or View Your Page</a>
  {% endif %}

</body>
<script type="text/javascript" src="../static/search_bar.js"></script>

</html>