<!DOCTYPE html>
<html>

<head>
  <title>Feed</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="container">
  <h1>Feed</h1>
  <p>Welcome to the feed! Here are the latest blog posts:</p>
  <div id="app">
    <search-bar @search="searchUsers"></search-bar>
  </div>
  <div id='blogs'>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('create_blog') }}">Create Blog</a>
    <a href="{{ url_for('user_profile', username=current_user.username) }}">My Page</a>
    {% else %}
    <a href="{{ url_for('login') }}">Log in to Create Blog or View Your Page</a>
    {% endif %}
    <blogs></blogs>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/search_bar.js"></script>
<script type="text/javascript" src="../static/blogs.js"></script>

</html>