<template>
  <div>
    <input v-model="searchTerm" type="text" placeholder="Search for users...">
    <ul>
      <li v-for="user in searchResults" :key="user.id">
        <div>{{ user.username }}</div>
        <button v-if="!user.followed" @click="follow(user)">Follow</button>
        <button v-if="user.followed" @click="unfollow(user)">Unfollow</button>
        <button @click="viewProfile(user)">View Profile</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchTerm: '',
      searchResults: []
    }
  },
  methods: {
    searchUsers() {
      // Send a GET request to the server with the search term
      // and update the searchResults array with the results
      axios.get('/search', { params: { searchTerm: this.searchTerm } })
        .then(response => {
          this.searchResults = response.data.users;
        })
        .catch(error => {
          console.log(error);
        });
    },
    viewProfile(user) {
      // Navigate to the user's profile page
      this.$router.push('/users/' + user.id);
    },
    follow(user) {
      // Send a POST request to the server to follow the user
      axios.post('/users/' + user.id + '/follow')
        .then(response => {
          user.followed = true;
        })
        .catch(error => {
          console.log(error);
        });
    },
    unfollow(user) {
      // Send a POST request to the server to unfollow the user
      axios.post('/users/' + user.id + '/unfollow')
        .then(response => {
          user.followed = false;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  watch: {
    searchTerm: function () {
      this.searchUsers();
    }
  }
};
</script>
