<DOCTYPE! html>
    <html>
        <head> </head>
        <form action="/signin" method="POST" id="signin">
            <div>
                <label>Client Name:</label>
                <input type="text" name="client_name" required />
            </div>

            <div>
                <label>Password</label>
                <input type="password" name="client_passcode" required />
            </div>

            <div>
                <input type="submit" value="Submit" />
            </div>
        </form></html
></DOCTYPE!>
