Hello this your Trace Zone
<table>
    <tr>
        <th>Date</th>
        <th>Value</th>
        <th>Notes</th>
        <th>Actions</th>
    </tr>

    {%for record in rel_records%}
    <tr>
        <td>{{record['date']}}</td>
        <td>{{record['value']}}</td>
        <td>{{record['notes']}}</td>
        <td><a href = '/{{tracer_name}}/{{client_name}}/{{record['record_id']}}/edit'> Edit</a> <a href = '/{{tracer_name}}/{{client_name}}/{{record['record_id']}}/delete'>Delete</a></td>
    </tr>
    {%endfor%}
</table>

<button><a href = '/{{tracer_name}}/{{client_name}}/add_record'>New record</a></button>
<button><a href = '/user_dashboard/{{client_name}}'>User Dashboard</a></button>